<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Edit Note</h1>

    <form action="/update-note/<%= note._id %>" method="POST">
        <input type="text" name="title" placeholder="Title" value="<%= note.title %>" required>
        <div id="editor" style="height: 100px;"></div>
        <input type="hidden" name="content" id="content" required>
        <button type="submit">Update Note</button>
    </form>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline'],
                    ['link', 'image'],
                    [{ list: 'ordered' }, { list: 'bullet' }],
                    ['clean']
                ]
            }
        });

        quill.root.innerHTML = `<%- note.content %>`;

        document.querySelector('form').onsubmit = function() {
            var content = document.querySelector('#content');
            content.value = quill.root.innerHTML;
        };
    </script>
</body>
</html>
